@import "_bootstrap";

@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

body, html, #view, .container {
    height: 100% !important;
}

#schedule {
    height: inherit;
    overflow: hidden;
    p {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #tasks-and-times {
        $height: 90vh;
        height: $height;
        vertical-align: top;
        display: block;
        width: 100%;
        overflow: auto;
        #time-slots {
            $border: 1px solid black;
            height: 100%;
            width: 45%;
            display: inline-block;
            text-align: left;
            float: left;
            .time-slot {
                width: 100%;
                position: relative;
                display: block;
                height: 24px;
            }
            .time {
                height: 100%;
                position: absolute;
                left: 0;
                margin: 0;
                padding: 0;
                text-align: right;
                display: inline;
            }
            .slot {
                position: absolute;
                left: 0;
                margin: 0;
                padding: 0;
                height: inherit;
                min-height: 24px;
                border-left: 1px solid black;
                width: 100%;
                display: inline;
            }
            .top, .mid, .bottom {
                border-left: $border;
                border-right: $border;
            }
            .top {
                border-top: $border;
            }
            .bottom {
                border-bottom: $border;
            }
        }
        #tasks {
            width: 45%;
            height: inherit;
            display: inline-block;
        }
        .task {
            height: auto;
        }
        .task {
        	z-index: 2;
            border: 1px solid black;
            border-radius: 0.5em;
            width: 100%;
            .task-body:last-child {
                height: 100%;
                padding: 0.5em;
            }
            .task-body {
                padding: 0;
                margin: 0;
            }
        }
    }
}
